{% extends 'base.html.twig' %}
{% block body %}
    <div id="leftCol">
        {{ render('/menu/categories') }}
    </div>
    <article>
        {% if breadcrumbs is not null %}
            {{ breadcrumbs|raw }}
        {% endif %}
        {% if books is null or books is empty %}
            <p>В данном разделе книги отсутствуют!</p>
        {% else %}
            {% include 'book/list.html.twig' with {'books': books, 'user': user, 'favoriteBooks': favoriteBooks} %}
            {% if pagination is not null %}
                {{ pagination|raw }}
            {% endif %}
        {% endif %}
    </article>
    <br />

{% endblock %}