
###> symfony/framework-bundle ###
#Environments
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

#файлы конфигурации IDE
/.idea
#загружаемые файлы
/public/upload_files/

#docker settings
/.docker/data/*
/.docker/logs/nginx/*
/.docker/logs/mysql/*
/.docker/mysql/*