.page-navigation {
    text-align: center;
    color: #636363;
    border: 0px;
    font-family: tahoma;
    margin: 0 auto;
    width: 78%;
}

.page-navigation a:link,.page-navigation a:visited,.page-navigation a:active {
    display: inside;
    text-decoration: none;
    color: #FFF;
    background-color: #13739B;
    border: 1px solid #e1e1e3;
    padding: 3px 6px;
    font-size: 11px
}

.page-navigation a:hover {
    background-color: #24323B;
    color: #ffffff;
    border-color: #e1e1e3;
}
.page-navigation span {
    text-decoration: none;
    color: #24323B;
    padding: 3px 6px;
}

.page-item{
    margin: auto;
    width: 20%;
    display: contents;
}