    {% extends 'base.html.twig' %}
{% block body %}
    {% if message is defined and message is not null %}
        <p class="empty">{{ message|escape }}</p>
    {% endif %}
    {% if favoriteBooks is defined and favoriteBooks is not null and favoriteBooks is not empty %}
        <article class="products">
            <h1 class="title">Избранная литература</h1>
            <div class="box-container">
                {% include 'book/list.html.twig' with {'books': books, 'user': user, 'favoriteBooks': favoriteBooks} %}
            </div>
            {% if pagination is not null %}
                {{ pagination|raw }}
            {% endif %}
        </article>
    {% endif %}
{% endblock %}