{% extends 'base.html.twig' %}
{% block body %}
    <div id="leftCol">
        {{ render('/menu/categories') }}
    </div>
    {% if message is defined and message is not null %}
        <span>{{ message|escape }}</span>
    {% endif %}
    {% if books is defined and books is not null and books is not empty %}
    <article>
        {% include 'book/list.html.twig' with {'books': books, 'user': user} %}
    </article>
    <br />
    {% endif %}

{% endblock %}