{% extends 'base.html.twig' %}
{% block body %}
    <div class="products">
        <h1 class="title">Результаты поиска</h1>
        {% if message is defined and message is not null %}
            <p class="empty">{{ message|escape }}</p>
        {% endif %}
        {% if books is defined and books is not null and books is not empty %}
            <div class="box-container">
                {% include 'book/list.html.twig' with {'books': books, 'user': user, 'favoriteBooks': favoriteBooks} %}
            </div>
        {% endif %}
    </div>

{% endblock %}