<ul class="breadcrumb">
    <li><a href="/">Главная</a></li>
    {% if categories.child is not null %}
        {% if categories.parent is not null %}
            <li><a href="/?category={{ categories.parent.idCategory }}">{{ categories.parent.nameCategory }}</a></li>
        {% endif %}
        <li><a href="/?category={{ categories.child.idCategory }}">{{ categories.child.nameCategory }}</a></li>
    {% endif %}
</ul>